* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@font-face {
    src: url(../font/Merriweather-Regular.ttf);
    font-family: Merriweather;
}
body {
    font-family: "Merriweather";
    font-style: normal;
    background-color: #fefdf9;
    color: #404040;
    letter-spacing: 0.0125em;
    font-weight: 300px;
}

.cd-headline.clip {
    margin-top: -12px;
    margin-bottom: 10px;
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
    color: #feb13d;
    font-size: 40px;
}
.cd-words-wrapper b.is-visible {
    position: relative;
}
.cd-words-wrapper b {
    opacity: 0;
}
.cd-words-wrapper b.is-visible {
    opacity: 1;
}

.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}
.cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #feb13d46;
}
.cd-headline.clip b {
    opacity: 0;
}
.cd-headline.clip b.is-visible {
    opacity: 1;
}
